.toolbar {
    &-row {

    }
    &-col--left {
        margin-left: 10px;
    }
    &-col--left_image {
        height: 75px;
    }
    &-col--right {
        display: flex;
        flex-direction: row;
        
    }
    &-col--right__item {
        margin: 5px;
        display: flex;
        align-self: right;
    }

}



